{
  "root": false,
  "$schema": "https://biomejs.dev/schemas/2.3.10/schema.json",
  "extends": ["../../biome.json"],
  "files": {
    "includes": [
      "**/src/**/*",
      "**/.vscode/**/*",
      "**/drizzle.config.ts",
      "**/tsconfig.json",
      "!**/src/db/migrations/**/*"
    ]
  }
}
